<p-menubar  styleClass="menu" [model]="items">
 <div class="p-d-flex">
   <div class = 'p-p-2' *ngIf="authorized"><button  pButton icon="pi pi-cog" class="blueRounded p-button-secondary p-button-rounded" [routerLink]="['admin']"></button></div>
   <div class = 'p-p-2' *ngIf="!logIn"><button pButton type="button" class=" blueRounded p-button-secondary p-button-rounded" (click)="log()">Zaloguj</button></div>
   <div class = 'p-p-2' *ngIf="logIn"><p-splitButton label="{{user.name}}  {{user.surename}}"  styleClass="custom-background-style" [model]="dropDownItems"></p-splitButton></div>
 </div>
</p-menubar>




