.icon {
  background-color: lightgray;
  border: lightgray;
  margin: 10px;
}

.input {
  width: 350px;
  height: 45px;
  margin: 20px;
}

.ui-splitbutton.custom-background-style {
  background:  rgba(0, 78, 148, 1) !important;
}



.blueRounded{
  border-radius: 25px;
  background: rgba(0, 78, 148, 1);
}

/deep/ .p-button-secondary {
  background-color: gray;
}

/deep/ .menu{
  background: rgba(0, 78, 148, 1);
  }


 /deep/ .menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #fff !important;
}

 /deep/ .menu .p-menubar .p-menuitem :hover {
   background-color: rgb(35, 119, 194) !important;
 }

 /deep/ .menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
   color: white !important;
 }

/deep/ .menu .p-menubar .p-menuitem :visited {
  background-color: rgb(35, 119, 194) !important;
}
