<br>

<div style="margin: 15px; align-content: center"><h1>{{title}}</h1></div>

<div *ngFor="let x of news" style="margin: 30px;">

  <p-panel [toggleable]="true" [collapsed]="true" toggler="header" >
    <ng-template pTemplate="header" class = "xyz" >
     {{x.name}}
    </ng-template>
    <ng-template pTemplate="icons">
      <p-tag *ngIf="x.priority === 'LOW'" severity="info" icon="pi pi-info-circle p-ml-1" class="p-mr-2">Info</p-tag>
      <p-tag *ngIf="x.priority === 'MEDIUM'" severity="warning" icon="pi pi-exclamation-triangle p-ml-1" class="p-mr-2">Ważne</p-tag>
      <p-tag *ngIf="x.priority === 'HIGH'"severity="danger" icon="pi pi-exclamation-triangle p-ml-1" class="p-mr-2">Bardzo Ważne</p-tag>
      <p-chip class="p-mr-3"> {{x.dateTime | date : 'short'}}</p-chip>
     <button *ngIf="authorized" pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event); setSelectedPostId(x)">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu   #menu  id="config_menu" [model]="items" [popup]="true" ></p-menu>
    </ng-template>

    <div [innerHTML]='x.main' ></div>

    <ng-template pTemplate="footer">
      <div *ngFor="let file of x.fileDBList">
        <a [href]="file.url" [download]="file.name">{{file.name}}</a>
      </div>
    </ng-template>
  </p-panel>

<p-dialog [(visible)]="isPostEdit" header="Edytuj Post" [modal]="true" class="dialog">

  <div class="p-grid p-flex-row">
    <div class="p-col">
      <h4>TYTUŁ POSTA</h4>
      <input [(ngModel)]="selectedPost.name" [style]="{'width': '500px' , 'height':'45px'}">
      <h4>TREŚĆ:</h4>
      <p-editor [(ngModel)]="selectedPost.main" [style]="{'height':'400px'}"></p-editor>
      <br>
      <button pButton type="button" label="Zaktualizuj" (click)="submitt()" class="p-button-outlined"
              style='margin: 5px;' icon="pi pi-check"></button>
    </div>
    <div class="p-col">
      <h4>PRIORYTET</h4>
      <p-listbox [options]="priorytyList" [(ngModel)]="selectedPrioryty"  (click)="setPriority()"  optionLabel="name"></p-listbox>
      <h4>WYBIERZ KATEGORIE</h4>
      <p-tree [value]="treeNode.children" selectionMode="single" [(selection)]="selectedPost.category"
              (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
      <br>
      <hr>
      <div *ngFor="let file of selectedPost.fileDBList">
        <p-chip [removable]="true" (onRemove)="(removeFileToSend(file))">{{file.name}}</p-chip>
      </div>
<!--      <br>-->
<!--      <p-fileUpload name="myfile[]" customUpload="true" multiple='true'-->
<!--                    (uploadHandler)="fileUploader($event)"></p-fileUpload>-->
    </div>
  </div>
</p-dialog>

</div>


