<p-toast></p-toast>

<div class='main'>

  <app-navbar id ="navbar" class = "menu" ></app-navbar>
  <div class = 'p-d-flex p-jc-center'>
  <div class ="logo"><a><img src='../assets/images/logo.png'></a></div>

  </div>

  <br>
  <router-outlet></router-outlet>
</div>

<p-dialog [(visible)]="logInDialog" header="Zaloguj" [modal]="true" class="dialog">

  <input [(ngModel)]="usernameValue" type="text" pInputText placeholder="Użytkownik" class="input">

  <input [(ngModel)]="passwordValue" type="password" pInputText placeholder="Hasło" class="input">

  <p-button label="Zaloguj" (click)='log()'></p-button>

</p-dialog>

