<br>

<div style="margin: 15px; align-content: center"><h1>{{title}}</h1></div>

<div *ngFor="let x of news" style="margin: 30px;">

  <p-panel [toggleable]="true" [collapsed]="true" >
    <ng-template pTemplate="header" >
     {{x.name}}
    </ng-template>
    <ng-template pTemplate="icons">
      <p-tag *ngIf="x.priority === 'LOW'" severity="info" icon="pi pi-info-circle p-ml-1" class="p-mr-2">Info</p-tag>
      <p-tag *ngIf="x.priority === 'MEDIUM'" severity="warning" icon="pi pi-exclamation-triangle p-ml-1" class="p-mr-2">Ważne</p-tag>
      <p-tag *ngIf="x.priority === 'HIGH'"severity="danger" icon="pi pi-exclamation-triangle p-ml-1" class="p-mr-2">Bardzo Ważne</p-tag>
      <p-chip class="p-mr-3"> {{x.dateTime | date : 'short'}}</p-chip>
      <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event); setSelectedPostId(x)">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>

    <div style="text-align:right ; color: lightgray">
      <b><small>{{x.dateTime | date:'short'}}</small></b></div>
    <div [innerHTML]='x.main'></div>

    <ng-template pTemplate="footer">
      <div *ngFor="let file of x.fileDTOList">
        <a [href]="file.url" [download]="file.name">{{file.name}}</a>
      </div>
    </ng-template>
  </p-panel>

</div>



