<div class="p-d-flex p-flex-column ">
  <div class="p-d-flex p-flex-row p-jc-end">
    <button pButton icon="pi pi-sort-numeric-down" class="p-button p-button-text " label="Najnowsze"
            (click)="dscSort()"></button>
    <button pButton icon="pi pi-sort-numeric-up-alt" class="p-button  p-button-text " label="Najstarsze"
            (click)="ascSort()"></button>
    <button pButton *ngIf="authorized" icon="pi pi-plus" class="p-button p-button-familiamed p-mr-3" label="Dodaj"
            (click)="openCreationDialog()"></button>
  </div>
  <hr>
  <div *ngFor="let x of news" style="margin: 15px;">

    <p-panel [toggleable]="true" [collapsed]="true" toggler="header">
      <ng-template pTemplate="header">
        <div class="p-d-flex p-flex-row p-jc-start" style="width: 60rem">
          <div><b>{{x.name}}</b></div>
          <div class="p-d-flex p-flex-row p-ml-auto">
          <div *ngFor=" let unit of x.units" class="p-ml-2">
            <p-chip label="{{unit.name}}" styleClass="familiamed-chip"></p-chip>
          </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="icons">


        <p-chip class="p-mr-3"> {{x.dateTime | date : 'HH:mm dd/MM/YYYY '}}</p-chip>
        <button *ngIf="authorized" pButton class="p-panel-header-icon p-link"
                (click)="menu.toggle($event); setSelectedPostId(x)">
          <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>

      </ng-template>

      <div [innerHTML]='x.main'></div>

      <ng-template pTemplate="footer">
        <h4>Załączniki</h4>
        <div class="p-d-flex p-flex-column p-p-3">
          <div *ngFor="let file of x.fileDBList">
            <a [href]="file.url" [download]="file.name" class="p-mr-2">{{file.name}}</a>
            <button *ngIf="authorized" pButton class="p-button-rounded p-button-danger p-m-1" icon="pi pi-times-circle"
                    style="height: 25px; width:25px;" (click)="preDeletingFile(x.id , file.id)"></button>
          </div>
          <p-fileUpload *ngIf="authorized" #fileUpload mode="basic" class="p-ml-auto" customUpload="true"
                        (uploadHandler)="uploadFile($event , x.id , fileUpload)"></p-fileUpload>

        </div>
      </ng-template>
    </p-panel>


    <p-dialog [(visible)]="isPostEdit" header="Edytuj Post" [modal]="true" class="dialog">

      <div class="p-d-flex p-flex-column">

        <button pButton type="button" label="Zaktualizuj" (click)="submitt()" class="p-button-rounded right-button"
                icon="pi pi-check"></button>
        <div class="p-col">
          <h4>TYTUŁ POSTA</h4>
          <input [(ngModel)]="selectedPost.name" [style]="{'width': '500px' , 'height':'45px'}">
          <h4>TREŚĆ:</h4>
          <p-editor [(ngModel)]="selectedPost.main" [style]="{'height':'400px'}"></p-editor>
          <br>
        </div>
      </div>
    </p-dialog>

    <p-dialog [(visible)]="isFileDelete" header="Usuń plik" [modal]="true" class="dialog">
      <p> Czy na pewno chcesz usunąć plik ?</p>
      <button pButton class="p-button-success p-button-rounded" (click)="deleteFile()"> TAK</button>
      <button pButton class="p-button-warning p-button-rounded" (click)="cancelDeletingFile()"> ANULUJ</button>
    </p-dialog>

  </div>

  <p-dialog [(visible)]="isPostCreated" header="Dodaj Aktualność" [modal]="true" class="dialog">
    <div class="p-d-flex p-flex-column">
      <div>
        <button pButton label="Dodaj" title="Dodaj post" (click)="sendPost()" class="p-button-familiamed right-button"
                icon="pi pi-plus"></button>
      </div>
      <div class="p-d-flex p-flex-row">
        <div class="p-col">
          <h4>TYTUŁ POSTA</h4>
          <input [(ngModel)]="postTitle" [style]="{'width': '500px' , 'height':'45px'}">
          <h4>TREŚĆ:</h4>
          <p-editor [(ngModel)]="postText" [style]="{'height':'400px'}"></p-editor>
          <br>

        </div>
        <div class="p-col">
          <h4>JEDNOSTKA</h4>
          <p-listbox [options]="unitsList" [(ngModel)]="selectedUnits" optionLabel="name" [checkbox]="true"
                     [multiple]="true"></p-listbox>

          <h4>PLIKI</h4>
          <hr>
          <div *ngFor="let file of uploadFiles">
            <p-chip [removable]="true" (onRemove)="removeFileToSend(file)">{{file.name}}</p-chip>
          </div>
          <br>
          <p-fileUpload name="myfile[]" customUpload="true" multiple='true'
                        (uploadHandler)="fileUploader($event)"></p-fileUpload>
        </div>
      </div>
    </div>
  </p-dialog>

</div>

